body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav h2 {
    color: white;
}

.content {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    padding: 0 48px;
    gap: 16px;
}

.web-info {
    display: flex;
    flex-direction: column;
}

.web-info button {
    width: 100px;
}

.holder {
    height: 100px;
    width: 100px;
    background-color: grey;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quote {
    text-align: center;
    padding: 0 48px;
}

.quote h2 {
    text-align: right;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .holder {
    display: flex;
    flex-grow: 1;
    max-width: 1000px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}